/* recipes.css  css for recipes */
* {
    background-color: rgb(228, 180, 170);
}

button {
    color: darkblue;
    background: none;
    font-size: 22px;
    
    font-weight: 900;
    padding: 10px;
    margin: 20 px;
}
