/* recipes.css  css for recipes */
* {
    background-color: rgb(228, 180, 170);
}

button {
    color: darkblue;
    background-color: lightgreen;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 20 px;
}
