/* recipes.css  css for recipes */
* {
    background-color: rgb(228, 180, 170);
}

button {
    color: darkblue;
    background: lightseagreen;
    border-radius: 16px;
    font-size: 22px;
    
    font-weight: 900;
    padding: 10px;
    margin: 20 px;
}

a {
    color: darkblue;
    background: lightseagreen;
}

.multi-recipes-box {
    /* border:2px solid black; */
    display: flex;
    justify-content: flex-start;
}

.recipe-box {
    margin-left: 50px;
    margin-right: 200px;
}
